.loading{
	height: 100px;
	width: 100px;
	background: #111;
	position: relative;
}
.item{
	border-top:2px solid #000 ;
	border-left:2px solid #000 ;
	border-radius: 50%;
	position: absolute;
	box-sizing: border-box;
}
.asdf1{
	height: 100px;
	width: 100px;
	border-color: skyblue;
	animation: zhuan 2s infinite ease-in-out;
	left:  calc(50% - 50px);
	top:  calc(50% - 50px);
}
.asdf2{
	height: 80px;
	width: 80px;
	border-color: green;
	animation: zhuan 2s infinite 0.15s ease-in-out;
	left:  calc(50% - 40px);
	top:  calc(50% - 40px);
}
.asdf3{
	height: 60px;
	width: 60px;
	border-color: yellow;
	animation: zhuan 2s infinite 0.3s ease-in-out;
	left:  calc(50% - 30px);
	top:  calc(50% - 30px);
}
.asdf4{
	height: 40px;
	width: 40px;
	border-color: orange;
	animation: zhuan 2s infinite 0.45s ease-in-out;
	left:  calc(50% - 20px);
	top:  calc(50% - 20px);
}
.asdf5{
	height: 20px;
	width: 20px;
	border-color: pink;
	animation: zhuan 2s infinite 0.6s ease-in-out;
	left:  calc(50% - 10px);
	top:  calc(50% - 10px); 
}
@keyframes zhuan{
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
